body::before{
    display: block;
    content: '';
    height: 60px;
}


@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

.col-lg {

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.col-lg #map-container {

    height: fit-content !important;
}
